body {
    background: aquamarine;
}

.header {
    color: white;
    background: cadetblue;
    text-align: center;
    padding: 30px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 15px 0;
}

form {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #BB00CC;
    background: white;
    border-radius: 10px 10px 10px 10px;
    display: block;
}

