body {
    background: -webkit-linear-gradient(right top, rgb(82 178 164), rgb(84 216 167));
}

div.login {
    background-color: transparent;
    margin: auto;
    position: absolute;
    left: 450px;
    right: 570px;
    top: 200px;

}

::-webkit-input-placeholder {
    text-align: center;
    color: #f7f9f9;
}

input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 40px;
    color: #f7f9f9;
}

div.parentlogin {
    position: relative;
}

div.login p {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #f7f9f9;
}

.loginBtn {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    background-color: #f7f9f9;
    border-color: #f7f9f9;
    width: 200px;
    color: #4fdcab;

}

.inputLogin {
    width: 50%;
    display: block;
    margin: 0 auto;
}

div.a {
    position: relative;
    float: right;
    margin: 0 10px 5px 0;
}

#messages {
    text-align: center;
}

#messages ul {
    padding: 0;
}

form{
    width: 300px;
}